*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: rebeccapurple;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}


a{
    text-decoration: none;
    color: blue;
    font-size: 25px;
    padding: 30px;
}